<div class="measure-box" onclick={{action "measureBoxClicked"}}>

  {{#if (eq measure.beatSchema '4')}}
    {{#each measure.chords as |chord|}}
      {{chart-editor-chord chord=chord size='big'}}
    {{/each}}
  {{/if}}

  {{#if (eq measure.beatSchema '2-2')}}
    <canvas class="measure-box-canvas" width="100" height="100"></canvas>
    {{#each measure.chords as |chord|}}
      {{chart-editor-chord chord=chord size='medium'}}
    {{/each}}
  {{/if}}

</div>

{{#if popupOpen}}
  <div class="measure-edit-popout popout">
    <div class="popout-arrow-up"></div>
    <span class="popout-close-button fa fa-times" {{action "closeMeasureEditPopout"}}></span>
    {{#if measure.canRemove}}
      <button class="remove-measure-button" {{action "removeMeasure"}}>Remove measure</button>
    {{/if}}
  </div>
{{/if}}
