{{#if subMenuItems}}

  <span class="main-menu-item-text" {{action 'openSubMenu'}}>{{text}}</span>

  {{#if subMenuOpen}}

    <div class="main-menu-item-popout popout">

      <div class="popout-arrow-up"></div>

      <div class="main-menu-item-submenu">

        {{#each subMenuItems as |subMenuItem|}}

          <div class="main-menu-item-submenu-item">
            {{#link-to subMenuItem.route class="main-menu-item-submenu-text" click=(action 'subMenuItemClicked')}}
              {{subMenuItem.text}}
            {{/link-to}}
          </div>

        {{/each}}

      </div>

    </div>

  {{/if}}

{{else}}
  {{#link-to url class="main-menu-item-text"}}
    {{text}}
  {{/link-to}}
{{/if}}
